@media only screen and (max-width: 992px) {
  .book__title {
    font-size: 0.9rem !important;
  }
  .author__info h6 {
    font-size: 0.6rem !important;
    margin-right: 2px;
  }
  .author__info p {
    font-size: 0.7rem !important;
  }

  .bid_btn {
    padding: 4px 20px !important;
    font-size: 0.7rem !important;
  }
  .history__link a {
    font-size: 0.7rem !important;
  }
}
